/*!
 * @package   export
 * @author    Kartik Visweswaran <kartikv2@gmail.com>
 * @copyright Copyright &copy; Kartik Visweswaran, Krajee.com, 2015 - 2017
 * @version   1.2.8
 *
 * Export Columns Selector Style Sheet
 *
 * Author: Kartik Visweswaran
 * Copyright: 2015, Kartik Visweswaran, Krajee.com
 * For more JQuery plugins visit http://plugins.krajee.com
 * For more Yii related demos visit http://demos.krajee.com
 */
.kv-checkbox-list .checkbox {
    padding: 0 20px;
}

.kv-checkbox-list label {
    width: 100%;
}

.kv-checkbox-list label.disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: .65;
}

.kv-toggle-all {
    font-style: italic;
    color: #337ab7;
}

.kv-toggle-all:hover {
    color: #286090;
}