@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.eot');
url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/ProximaNova-Regular.woff') format('woff'),
url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}

a {
    color: #000000;
    font-weight: 400;
    border-bottom: 1px solid rgba(222,11,34,0.5);
}

a:hover {
    color: #DE0B22;
}

.banner__video {
    display: none;
}

.field-registration-checkbox input[type="checkbox"] {
    display: none;
}

.field-registration-checkbox input[type="checkbox"] + label {
    display: inline-block;
    padding: 0 0 0 24px;
    position: relative;
}

.field-registration-checkbox input[type="checkbox"] + label:before {
    background: #fff;
    border: 2px solid #ED1C1C;
    content: "";
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;
}

.field-registration-checkbox input[type="checkbox"]:checked + label:before {
    content: "";
    background: url('/img/main/arrow.svg') center center no-repeat #ED1C1C;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
}

.field-registration-checkbox input[type="checkbox"]:disabled + label:before {
    opacity: 0.5;
}




.menubar-switch-language input[type="checkbox"] {
    display: none;
}

.menubar-switch-language input[type="checkbox"] + label {
    display: inline-block;f
padding: 0 0 0 45px;
    height: 22px;
    margin: 0 5px 0;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

.menubar-switch-language input[type="checkbox"] + label:before {
    background: #ED1C1C;
    content: "";
    height: 22px;
    left: 0;
    position: absolute;
    top: 0;
    width: 45px;
    border-radius: 20px;
    transition: background-color .15s ease-in-out;
}

.menubar-switch-language input[type="checkbox"] + label:after {
    background: #fff;
    content: "";
    height: 20px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 20px;
    border-radius: 10px;

    transition: left .15s ease-in-out;
}


.menubar-switch-language input[type="checkbox"]:checked + label:before {
    background: #242466;
}

.menubar-switch-language input[type="checkbox"]:checked + label:after {
    left: 24px;
}

.menubar-switch-language {
    float: right;
    margin-right: 30px;
    margin-top: 26px;
}

.menubar-switch-language span {
    font-size: 12px;
    font-family: "Proxima Nova";
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(0,0,0,0.3);
}

.menubar-switch-language-ru .customSwitches-ru {
    color: #ED1C1C;
}

.menubar-switch-language-kz .customSwitches-kz {
    color: #242466;
}

.menubar-switch-language a {
    display: none;
}


.label-condition-accept {
    font-size: 14px;
    line-height: 16px;
}


.main_logo {
    margin-bottom: 40px;
}

.links-dash {
    border-bottom: 1px dashed rgba(222,11,34,0.5);
}

.genric-btn {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 45px;
    font-weight: 700;
    border-radius: 3px;
    width: 250px;
    height: 50px;
    transition: background-color, .1s;
    padding: 0;
}

.genric-btn.danger {
    color: #fff;
    background-color: #ED1C1C;
    border: 2px solid transparent;
    border-radius: 3px;
}

.genric-btn.danger:hover {
    color: #fff;
    border: 2px solid transparent;
    background-color: #ED1C1C;
    box-shadow: 0px 0px 6px rgba(237, 28, 28, 0.5);
}

.genric-btn.danger:disabled {
    background-color: #E7E7E7;;
    box-shadow: none;
    color: rgb(0,0,0,0.6);
    cursor: default;
}

.genric-btn.info-border,
.genric-btn.info-border:hover{
    width: 194px;
    border: 1px solid #000000;
    color: #000;
    font-size: 14px;
    background-color: #fff;
    height: 45px;
}

.genric-btn.info-border span {
    font-size: 14px;
    font-family: "Proxima Nova";
    font-weight: 400;
    text-transform: none;
    margin-left: 18px;
}

.genric-btn.info-border span:after {
    content: "";
    background: url('/img/main/file.svg') bottom center no-repeat;
    width: 12px;
    height: 24px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    top: 4px;
}


.text-heading {
    line-height: 36px;
    font-size: 24px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #242466;
    font-weight: 800;
}

.image-responsive {
    max-width: 100%;
}

.sample-text {
    font-size: 14px;
    line-height: 23px;
}

.title-page-txt {
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    line-height: 32px;
    color: #242466;
    margin-bottom: 30px;
}

.main-menubar {
    z-index: 100;
}

.menu-bar {
    background: #ED1C1C;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 7px;
    position: fixed;
    right: 15px;
    top: 15px;
}

.menu-bar:hover {
    box-shadow: 0px 0px 6px rgba(237, 28, 28, 0.5);
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.modal-content {
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 0;
    width:inherit;
    max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}

.modal-content:after {
    content: "";
    position: absolute;
    width: 360px;
    height: 65px;
    right: 0;
    top: 0;
    background: #F1D85C;
}

.modal-content:before {
    content: "";
    position: absolute;
    width: 262px;
    height: 20px;
    top: 0;
    right: 195px;
    background: #ED1C1C;
    z-index: 2;
}

.modal-content .close {
    z-index: 2;
    cursor: pointer;
    width: 50px;
    position: absolute;
    right: 15px;
    top: 2px;
}

.modal-backdrop {
    background: #fff;
}

.modal-backdrop.show {
    opacity: 0.7;
}

#myModal .modal-content {
    overflow: hidden;
    padding-top: 88px;
    padding-bottom: 50px;
}

#myModal .modal-content .genric-btn {
    margin: 0 auto;
}

.my-modal-text {
    line-height: 25px;
    padding: 0 0 20px;
}

.main-menubar .lnr-menu::before {
    color: #fff;
    font-size: 34px;
}


.mfp-image-holder .mfp-close {
    width: 50px;
    background: #ED1C1C;
    height: 50px;
    opacity: 1;
    position: fixed;
    right: 15px;
    top: 15px;
    font-size: 0;
    padding-top: 8px;
    padding-left: 8px;
    text-align: left;
    cursor: pointer;
}

.mfp-image-holder .mfp-close {
    box-shadow: 0px 0px 6px rgba(237, 28, 28, 0.5);
}

.mfp-image-holder .mfp-close:after {
    font-family: 'Linearicons-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    content: "\e870";
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: pointer;
}

.mfp-counter {
    display: none;
}

.mfp-arrow-left::after {
    content: "";
    background: url('/img/main/gallery_arrow.svg') center center no-repeat;
    border: 0;
    width: 26px;
    height: 44px;
    margin-left: 73px;
}

.mfp-arrow-right::after {
    border: 0;
    background: url('/img/main/gallery_arrow.svg') center center no-repeat;
    transform: rotate(-180deg);
    width: 26px;
    height: 44px;
    margin-left: 0;
}

.mfp-arrow-right::before,
.mfp-arrow-left::before {
    border: 0;
}

.mfp-arrow {
    width: 99px;
}

button.mfp-arrow {
    display: none;
}

.main-menubar .lnr-cross::before {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
}

.banner-area-main .container {
    height: 644px;
    position: relative;
}

.banner-area-main .banner-content {
    position: absolute;
    left: 0;
    bottom: 100px;
    z-index: 1;
}

.banner-area-main .banner-content .genric-btn  {
    margin: 0 auto;
    display: block;
}

.banner-area-main h1 {
    line-height: 36px;
    font-size: 24px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 800;
    margin: 0 0 50px;
    padding: 0 15px;
}

.banner-area-main h1 br {
    display: none;
}

.go-featured-area {
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    bottom: 39px;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: #FFFFFF;
    transform: rotate(-45deg);
    cursor: pointer;
    left: 50%;
    margin-left: -13px;
}

.about-project {
    max-width: 945px;
    padding: 49px 15px 109px;
    background: url('/img/main/logos.png') bottom center no-repeat;
    margin: 0 auto 46px;
    background-size: 220px;
}

.link-show-maintxt {
    margin-left: 5px;
}

.main-service-area {
    background: #ED1C1C;
    position: relative;
    padding: 0 0 10px;
}

.main-service-area:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding-bottom: 10%;
    background: #ED1C1C;
    clip-path: polygon(0% 0%,100% 0%, 50% 100%);
}

.single-main-news {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
    display: block;
    position: relative;
    z-index: 2;
    border-bottom: 0;
    background: #fff;
    margin-bottom: 50px;
}

.single-main-news:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    color: #242466;
}

.single-main-news:hover .arrow-block-news,
.single-main-news:hover .arrow-block-news:before{
    border-color: #242466;
}

.block-image-news {
    height: 160px;
    background-size: cover;
    display: block;
    background-position: center;
}

.block-title-service {
    background-color: #fff;
    padding: 4px 30px 20px;
    display: block;
    font-size: 12px;
    position: relative;
}

.block-title-service .title-main-news {
    display: block;
    line-height: 16px;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 800;
    height: 48px;
    overflow: hidden;
    margin-top: 3px;
}

.arrow-block-news {
    position: absolute;
    width: 22px;
    height: 22px;
    right: 30px;
    bottom: 20px;
    border: 1px solid #000000;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}

.arrow-block-news:before {
    position: relative;
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    top: 5px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #000;
    transform: rotate(45deg);
    left: 3px;
}

.main-service-link {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    display: block;
    position: relative;
    height: 100px;
    margin-bottom: 15px;
}

.main-service-link:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.main-service-link-title {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #F3DA5D;
    font-weight: 800;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 90px 16px 30px;
}

.main-service-link-condition {
    background: #242466;
    background: url("/img/main/conditions-bg-320.png") no-repeat center right #242466;
    margin-bottom: 15px;
    z-index: 2;
}


.main-service-link-gallery {
    background: url("/img/main/gallery-bg-320.png") no-repeat center right #242466;
}

.main-service-link-submit {
    background: url("/img/main/submit-icon-320.png") no-repeat center right #242466;
}

.main-menubar-blocklink {
    position: absolute;
    left: 25px;
    top: 50%;
    margin-top: -176px;
}

.menubar-language-block {
    background: #F3DA5D;
    position: absolute;
    bottom: 0;
    width: 147px;
    height: 83px;
    right: 0;
    z-index: 5;
}

.menubar-language-block .footer-social {
    display: none;
}

.menubar-language-block .footer-social a {
    background: #242466;
    border: 0;
    font-size: 18px;
    border: 0;
    margin: 0 15px 0 0;
}

.menubar-language-block .footer-social a i {
    color: #F3DA5D;
    line-height: 30px;
}

.menubar-language-block .footer-social a::after {
    background: none;
}

footer {
    position: relative;
    overflow: hidden;
    height: auto;
    padding: 15px 0 30px;
    z-index: 1;
}

.footer_menu {
    display: none;
}

footer a {
    color: #FFFFFF;
}

footer a:hover {
    color: #DE0B22;
}

.footer_menu a {
    font-size: 13px;
    display: inline-block;
    margin-left: 40px;
    border-bottom: 0;
}

.footer_menu_kz a {
    margin-left: 28px;
}

.footer_menu a:first-child {
    margin-left: 0;
}

.footer-phone-block,
.footer-social-block {
    width: 100%;
    text-align: center;
}

.footer-phone-link {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 3px;
    font-family: 'Proxima Nova Rg';
    font-size: 14px;
    padding: 8px 23px;
    display: inline-block;
    transition: background-color, .3s, color .3s;
}

.footer-phone-link:first-child {
    margin: 15px 0 20px;
}

.footer-phone-link:hover {
    background: #fff;
    color: #000;
}

.footer-phone-link span {
    font-size: 19px;
    position: relative;
    top: 2px;
    padding-left: 7px;
}

.footer-social-block {
    padding-top: 14px;
}

.footer-email-link {
    line-height: 27px;
    font-size: 13px;
    border-width: 2px;
    position: relative;
}

.footer-social {
    display: block;
    padding-top: 24px;
}

.footer-social a {
    background: #fff;
    margin-left: 15px;
    line-height: 25px;
}

.footer-social a:first-child {
    margin-left: 0;
}

.footer-social a i {
    color: #000;
}

.footer-social a:after {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transition: background-color 0.3s ease 0s;
}

.main-menubar-block {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ED1C1C;
    margin: 0;
}

.main-menubar-block:after {
    content: "";
    background: #242466;
    width: 90px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.main-menubar-block .main-menubar-blocklink a {
    display: block;
    font-family: Open Sans;
    line-height: 44px;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 0;
    font-weight: 800;
    margin: 0;
    text-align: left;
}

.main-menubar-block .main-menubar-blocklink .logo {
    display: none;
}

.main-menubar-block .main-menubar-blocklink a:hover {
    color: #DE0B22;
}

.main-content-wrapper {
    position: relative;
    overflow: hidden;
}

.container-page {
    box-shadow: 0px 0px 110px rgba(0, 0, 0, 0.15);
    z-index: 2;
    margin-bottom: -30px;
    position: relative;
    padding: 0 0 80px;
}

.container-page-wrapper {
    padding: 41px 15px 0;
    background: #fff;
    max-width: 946px;
}

.page-block-blue-shape:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 70px;
    right: 0;
    top: 96px;
    background: #242466;
    z-index: 3;
}

.page-image-block {
    max-height: 130px;
    overflow: hidden;
}

.block-fulltxt-page {
    font-size: 14px;
    line-height: 23px;
}

.block-fulltxt-page ul {
    margin: 0 0 40px 40px;
    list-style: disc;
}

.block-fulltxt-page ol {
    margin: 0 0 40px 40px;
    list-style: decimal;
}

.block-fulltxt-page .video_block {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px;
    overflow: hidden;
    display: block;
    margin-bottom: 40px;
}

.block-fulltxt-page .video_block iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.block-fulltxt-page p {
    margin-bottom: 23px;
}

.block-fulltxt-page b {
    color: #000;
}

.block-fulltxt-page .img-fluid {
    margin-top: 9px;
}

.block-data-news {
    font-size: 12px;
    line-height: 1;
    margin: -20px 0 30px;
}

.block-data-news .block-news-city {
    padding-right: 15px;
}

.block-news-gallery {
    position: relative;
    padding-top: 9px;
}

.block-news-gallery .genric-btn {
    display: none;
}

.page-news-area {
    padding: 25px 0 50px;
    position: relative;
    z-index: 3;
}

.page-content-allnews {
    padding: 12px 0 0;
}

.page-content-allnews .block-image-news {
    height: 195px;
}

.page-content-allnews .single-main-news {
    margin-bottom: 30px;
}

.page-news-block-shape-left:after {
    content: '';
    position: absolute;
    width: 230px;
    height: 300px;
    left: 0px;
    top: 750px;
    background: #ED1C1C;
}

.page-news-block-shape-left.page-news-block-shape-yellow:after {
    background: #F3DA5D;
}

.page-news-block-shape-right:after {
    content: '';
    position: absolute;
    width: 120px;
    height: 400px;
    top: 155px;
    right: 0;
    background: #F1D85C;
}

.page-news-block-shape-right:before {
    content: '';
    position: absolute;
    right: 0;
    width: 200px;
    height: 400px;
    top: 1424px;
    background: #F1D85C;
}

.page-news-block-shape-right.page-news-block-shape-blue:after,
.page-news-block-shape-right.page-news-block-shape-blue:before{
    background: #242466;
}

.pagination_gallery {
    margin: auto;
    text-align: center;
    padding-top: 14px;
}

.pagination_gallery .pagination {
    border-radius: 0;
    display: inline-flex;
}

.pageClass {
    display: none;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
}

.pageClass a,
.pageClass span {
    padding: 10px 0;
    text-align: center;
    width: 59px;
    display: inline-block;
}

.pagination_gallery a {
    border-bottom: 0;
}

.currentPage {
    border-bottom: 3px solid #DE0B22;
}

.currentPage,
.prev,
.next {
    display: block;
}

.prev a,
.next a,
.prev span,
.next span {
    color: #fff;
    width: 110px;
}

.prev a:before,
.prev span:before{
    position: relative;
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    top: 8px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #000;
    transform: rotate(-135deg);
    left: 28px;
}

.prev a:hover:before,
.next a:hover:before {
    border-color: #DE0B22;
}

.next a:before,
.next span:before{
    position: relative;
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    top: 8px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #000;
    transform: rotate(45deg);
    left: 22px;
}

.next a:before {
    left: 73px;
}

.breadcrumb-block {
    display: none;
}

.breadcrumb-separator {
    padding: 0 10px;
}

.page-content-allimages {
    padding: 0 0 30px;
}

.img-pop-up {
    margin-top: 10px;
    display: block;
    border-radius: 10px;
    overflow: hidden;
    border-bottom: 0;
}

.single-gallery-image {
    display: block;
    margin-top: 0;
    height: 240px;
}

.main-form-submit-application {
    padding: 70px 0 0;
}

.main-form-application-content {
    max-width: 555px;
    margin: 0 auto;
}

.main-block-form-link {
    padding: 0 0 30px;
}

.main-block-form-link a {
    margin: 0 10px;
    font-size: 14px;
}

.main-form-field-content {
    padding: 20px 25px 15px;
}

.form-group-button {
    padding: 25px 0;
    background-color: #F2F2F2;
    transition: background-color, .1s;
}

.form-group-active-button {
    background-color: #F3DA5D;
}

.main-form-application .form-group {
    position: relative;
    margin-bottom: 29px;
}

.main-form-application .form-control {
    border-width: 0 0 2px 0;
    border-radius: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0;
    background: none;
    z-index: 3;
    position: relative;
}

.main-form-application .form-control {
    border-width: 0 0 2px 0;
    border-radius: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0;
    background: none;
    z-index: 3;
    position: relative;
}

.has-error .form-control {
    border-color: rgb(237,28,28,0.5);
}

.main-form-application .control-label {
    position: absolute;
    left: 0;
    top: -17px;
    z-index: 0;
    transition: all 0.2s ease-in-out 0s;
    font-size: 10px;
    color: rgb(0,0,0,0.3);
}

.main-form-application .help-block {
    position: absolute;
    left: 0;
    top: -8px;
    z-index: 0;
    font-size: 10px;
    color: #ED1C1C;
    background: #fff;
    line-height: 1;
}

.main-form-application .form-attach-file-block .help-block {
    position: relative;
    top: 0;
}

.main-form-application .form-group.required .has-star:after {
    content: "";
}

.main-form-application input.-state-empty:not(:focus) ~ .control-label,
.main-form-application textarea.-state-empty:not(:focus) ~ .control-label {
    top: 6px;
    color: #000;
    font-size: 14px;
    line-height: 1;
}

.form-attach-file-block {
    padding-top: 10px;
}

.block-attach-file-size {
    font-size: 12px;
    margin: -33px 0 20px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.images {
    margin: 10px;
    display: inline-block;
    width: 200px;
    height: 200px;
    position: relative;
}
.images img {
    display: block;
    width: 100%;
    height: 100%;
}
.sel {
    display: none;

}

.images:hover .sel {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: wheat;
    display: block;
    font-size: 30px;
}

.imagesMain {
    margin: 10px;
}

.red {
    color: red;
}


.style-text{
    font-family: "Open Sans", sans-serif;
    color: #222222;
}
.date{
    margin: 0 0 3% 0;
}

.margin{
    margin: 0 40px 0 40px;
}


.mfp-content{
    /*width: 80%;*/
}


.nav-menus{
    width: 100%;
    background-color: red;
}

.hide{
    display: none;
}

.text {
    display: block;
    width: 300px;
    height: 10px;

    padding: 5px;
    margin-top: 5px;
    outline: none;
    overflow: hidden;
}
.text:focus, button:focus ~ .text {height: auto;}
.close {
    float: right;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;

}

.file-preview .fileinput-remove {
    top: 8px;
    right: 10px;
    line-height: 10px;
}

.questions-text {
    font-weight: bold;
}


@media (min-width:480px) {
    .footer-phone-link:first-child {
        margin: 15px 20px 20px 0;
    }
}

@media (max-width:767px) {
    .banner-area-main {
        background: url("/img/main/pattern_main.png") no-repeat 0 43px #242466 !important;
        position: relative;
    }

    .banner-area-main:after {
        content: "";
        position: absolute;
        bottom: 32px;
        right: 0;
        width: 70px;
        height: 98px;
        background: #F3DA5D;
        z-index: 0;
    }

    .main-service-area:before {
        width: 100%;
        height: 35px;
        background-color: #fff;
        content: '';
        position: absolute;
        top: 0;
    }
}


@media (max-width:991px) {
    .main-service-area:before {
        width: 100%;
        height: 35px;
        background-color: #fff;
        content: '';
        position: absolute;
        top: 0;
    }
}


@media (min-width:768px) {
    .page-image-block {
        max-width: 1100px;
        max-height: 300px;
        overflow: hidden;
    }

    .page-news-image-block {
        margin-bottom: 9px;
    }

    .block-news-gallery .genric-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0 0 0 -125px;
        display: block;
    }

    .page-block-blue-shape::after {
        width: 100px;
        height: 140px;
        top: 230px;
    }

    .page-news-block-shape-left:after {
        width: 335px;
        height: 400px;
        top: 0;
    }

    .page-news-block-shape-left:before {
        content: '';
        position: absolute;
        width: 335px;
        height: 300px;
        left: 0;
        top: 700px;
        background: #ED1C1C;
    }

    .page-news-block-shape-left.page-news-block-shape-yellow:before {
        background: #F3DA5D;
    }

    .page-news-block-shape-right:after {
        width: 217px;
        height: 400px;
        top: 160px;
    }

    .page-news-block-shape-right:before {
        width: 217px;
        height: 50px;
        top: 1090px;
    }

    .pageClass {
        border-bottom: 3px solid #e8e8e8;
        display: block;
    }

    .currentPage {
        border-bottom: 3px solid #DE0B22;
    }

    .prev a,
    .next a,
    .prev span,
    .next span {
        width: 59px;
    }

    .next a:before {
        left: 22px;
    }

    .breadcrumb-block {
        display: block;
    }

    .main-menubar-block .main-menubar-blocklink a {
        line-height: 50px;
        font-size: 20px;
    }

    .main-menubar-blocklink {
        left: 50px;
        margin-top: -200px;
    }

    .banner-area-main {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: cover;
    }

    .banner-area-main h1 {
        line-height: 54px;
        font-size: 36px;
        padding: 0;
    }

    .banner-area-main h1 br {
        display: block;
    }

    .banner-area-main h1 span {
        background: #242466;
        display: inline-block;
        padding: 0 30px;
    }

    .banner-area-main .banner-content .genric-btn  {
        margin: 0;
    }

    .text-heading {
        line-height: 54px;
        font-size: 36px;
    }

    .sample-text {
        font-size: 18px;
        line-height: 30px;
    }

    .main-service-link-title {
        font-size: 24px;
        line-height: 32px;
        padding: 20px 30px 16px;
    }

    .main-form-application {
        background: #FFFFFF;
        box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    .form-group-button {
        border-radius: 0 0 10px 10px;
        padding: 40px 0 60px;
    }

    .main-block-form-link a {
        margin: 0 35px;
        font-size: 18px;
    }

    .main-form-submit-application {
        padding: 150px 0 90px;
    }

    .block-image-news {
        height: 370px;
    }

    .modal-content-wrapper:before {
        content: "";
        position: absolute;
        width: 67px;
        height: 130px;
        right: 0;
        bottom: 0;
        background: #F1D85C;
        z-index: 2;
        border-radius: 0 0 10px 0;
    }

    .modal-content-wrapper:after {
        content: "";
        position: absolute;
        width: 68px;
        height: 240px;
        left: 0;
        bottom: 0;
        background: #242466;
        border-radius: 0 0 0 10px;
    }

    .my-modal-text {
        line-height: 30px;
        padding: 0 70px 40px;
    }
}

@media (min-width:992px) {
    .menu-bar {
        right: 50px;
        top: 50px;
    }

    .title-page-txt {
        font-size: 36px;
        line-height: 50px;
    }

    .block-fulltxt-page {
        font-size: 18px;
        line-height: 29px;
    }

    .block-fulltxt-page p {
        margin-bottom: 30px;
    }

    .block-fulltxt-page .img-fluid {
        margin-top: 23px;
    }

    .footer_menu {
        padding: 54px 0 60px;
        display: block;
    }

    footer {
        padding: 15px 0 64px;
    }

    footer:before {
        content: "";
        position: absolute;
        width: 102%;
        height: 50px;
        background: white;
        top: -23px;
        left: -1%;
        border-radius:50%;
    }

    .footer-phone-block,
    .footer-social-block {
        width: 50%;
        text-align: left;
    }

    .footer-social-block {
        padding-top: 3px;
        text-align: right;
    }

    .footer-social {
        display: inline-block;
        padding-top: 0;
    }

    .footer-phone-link:first-child {
        margin: 0 50px 0 0;
    }

    .footer-email-link {
        margin-right: 66px;
        top: -6px;
    }

    .block-news-gallery {
        padding-top: 25px;
    }

    .container-page {
        padding: 0 0 122px;
    }

    .page-news-area {
        padding: 68px 0 93px;
    }

    .page-content-allnews {
        padding: 27px 0 0;
    }

    .page-content-allnews .single-main-news {
        margin-bottom: 60px;
    }

    .block-title-service .title-main-news {
        line-height: 21px;
        font-size: 13px;
        height: 42px;
    }

    .page-content-allnews .block-title-service .title-main-news {
        height: 54px;
        margin-top: 5px;
        line-height: 18px;
    }
    .block-title-service {
        padding: 15px 30px 43px;
    }

    .page-content-allnews .block-title-service {
        padding: 5px 30px 40px;
    }

    .modal-dialog {
        max-width: 750px;
    }

    .img-pop-up {
        margin-top: 30px;
    }

    .mfp-image-holder .mfp-close {
        right: 50px;
        top: 50px;
    }

    button.mfp-arrow {
        display: block;
    }

    .main-menubar-block:after {
        background: #ED1C1C;
        width: 440px;
    }

    .main-menubar-block:before {
        content: "";
        background: url("/img/main/pattern_img_side.png") no-repeat top left;
        position: absolute;
        right: 0;
        top: 257px;
        width: 200px;
        height: 300px;
        z-index: 2;
    }

    .menubar-language-block {
        background: url("/img/main/menubar-line.png") no-repeat bottom right #F3DA5D;
        width: 470px;
        height: 150px;
        right: 0;
    }

    .menubar-language-block .footer-social {
        padding: 20px 0 0 30px;
        display: inline-block;
    }

    .menubar-switch-language {
        float: right;
        margin-right: 30px;
        margin-top: 15px;
    }

    .main-menubar-block {
        background: #fff;
    }

    .main-menubar-blocklink {
        left: 50px;
        margin-top: -300px;
    }

    .main-menubar-block .main-menubar-blocklink .logo {
        display: block;
    }

    .about-project {
        padding: 100px 0 173px;
        background-size: auto;
    }

    .main-service-area {
        padding: 100px 0 43px;
    }

    .main-service-link-condition:before {
        content: "";
        background: #fff;
        height: 75px;
        position: absolute;
        width: 200px;
        left: 0;
        bottom: 0;
    }

    .main-service-link-condition:after {
        background: url("/img/main/conditions-bg.png") no-repeat bottom right #F3DA5D;
        content: "";
        height: 200px;
        position: absolute;
        width: 165px;
        right: 0;
        bottom: 0;
    }

    .main-service-link {
        height: 235px;
        box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
    }

    .main-service-link-submit .main-service-link-title {
        color: #242466;
        background: #F3DA5D;
    }

    .main-service-link-gallery {
        background: url("/img/main/gallery-bg.png") no-repeat bottom right #242466;
    }

    .main-service-link-submit {
        background: url("/img/main/submit-icon.png") no-repeat bottom right #242466;
    }

    .main-service-link {
        margin-bottom: 0;
    }

    .main-service-link-condition {
        margin-bottom: 30px;
    }

    .main-service-area:after {
        padding-bottom: 3%;
    }

    .main-form-field-content {
        padding: 69px 98px 15px;
    }

    .form-attach-file-block {
        padding-top: 20px;
    }

    .main-service-area-content:before {
        content: '';
        position: absolute;
        background: #242466;
        left: 0;
        top: 296px;
        width: 280px;
        height: 450px;
        z-index: 1;
    }

    .main-service-area-content:after {
        content: '';
        position: absolute;
        background: #F3DA5D;
        right: 0;
        top: -167px;
        width: 156px;
        height: 400px;
        z-index: 1;
    }

    .banner__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .banner__video > video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -o-object-fit: cover;
    }

    .main-menubar-block .main-menubar-blocklink a {
        color: #242466;
    }

    .main_logo {
        max-width: 200px;
    }
}


@media (min-width:1200px) {
    .page-block-yellow-shape:after {
        content: '';
        position: absolute;
        width: 150px;
        height: 500px;
        left: 0px;
        top: 400px;
        background: #F3DA5D;
    }

    .page-block-yellow-shape:before {
        content: '';
        position: absolute;
        width: 150px;
        height: 50px;
        left: 0px;
        top: 1400px;
        background: #F3DA5D;
    }

    .page-block-blue-shape:after {
        content: '';
        position: absolute;
        width: 200px;
        height: 300px;
        right: 0;
        top: 200px;
        background: #242466;
        z-index: 3;
    }

    .page-block-blue-shape:before {
        content: '';
        position: absolute;
        width: 200px;
        height: 100px;
        right: 0;
        top: 1500px;
        background: #242466;
        z-index: 3;
    }

    .container-page-wrapper {
        padding: 93px 98px 0 98px;
    }

    .footer_menu a {
        margin-left: 68px;
    }

    .footer_menu_kz a {
        margin-left: 53px;
    }

    .page-content-allnews .block-image-news {
        height: 240px;
    }

    .page-content-allimages {
        padding: 30px 0 60px;
    }

    .main-menubar-blocklink {
        left: 15%;
    }

    .menubar-language-block {
        right: 140px;
    }

    .block-fulltxt-page {
        min-height: 900px;
    }
}

@media (min-width:1400px) {
    .main-menubar-block .main-menubar-blocklink a {
        line-height: 59px;
        font-size: 29px;
    }

    .main_logo {
        max-width: 100%;
    }

    .main-menubar-blocklink {
        left: 50px;
        margin-top: -373px;
    }

    .questions-text {
        margin-bottom: 40px;
    }
}